*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

.nav{
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: black;
}

.nav-links{
    text-decoration: none;
    padding:  1.2rem 2rem;
    color: white;
    font-size: 1.2rem;
    font-weight: bolder;
}

.container{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 2rem;
    background-color:#1E3163;
    color: #fff;


}

.container h3{
    font-size: 2.5rem;
}

.container h5{
    font-size: 2rem;
}
.container  p{
    font-size: 1.4rem;
}

.about{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 2rem;
    background-color: #22577A;
    color: white;

}

.about h5{
    font-size: 2rem;
}

.about  p{
    font-size: 1.4rem;
}

.tech{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 2rem;
    background-color:rgba(255, 255, 255, 0.664);
    color: black;
}

.tech h5{
    font-size: 2rem;
}

.tech  p{
    font-size: 1.4rem;
}

.project{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 2rem;
    background-color:#1E3163;
    color: white;
}

.project h5{
    font-size: 2rem;
}

.project  p{
    font-size: 1.4rem;
}

.project button{
    margin: 0 auto;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    outline: none;
    border: none;
    background-color: #28FFBF;
}

.blogs{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 2rem;
    background-color:rgba(255, 255, 255, 0.664);
    color: black;

}

.blogs h5{
    font-size: 2rem;
}

.blogs  p{
    font-size: 1.4rem;
}

.blogs button{
    margin: 0 auto;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    outline: none;
    border: none;
    background-color: #28FFBF;
}

footer{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 1rem;


    background-color:#F037A5;
    color:#F8F8F8;

}



footer h5{
    font-size: 2rem;
}

footer a{
    font-size: 1.8rem;
}

.info{
    margin: auto;
    max-width: 60vw;
}

a{
    text-decoration: none;
}
.link-ref{
    color: black;
}

.footer-link{
    padding: 1rem;
    color: white;
}

#active-link{
    color: #28FFBF ;
}

.project-container {
    width: 90%;
    max-width: 800px;
    margin: auto;
}

.project-section {
    margin: 2rem 0rem;
}

.project-section h3 {
    margin-bottom: 0.2rem;
}

.project-section p {
    text-align: justify;
}

.project-div {
    box-sizing: border-box;
    background-color: var(--projects);
    padding: 1rem;
    border-radius: 10px;
}

.project-div p {
    margin-top: 0.5rem;
}

.project-div span {
    padding: 0rem 0.5rem;
    color: var(--white);
    background-color: var(--dark-gray);
    border-radius: 10px;
}

.project-item{
    border: 2px solid #28FFBF;
    border-radius: 1rem;
    justify-content: left;
    margin: 0 auto;
    padding: 1rem;
    text-align: left;
    max-width: 50vw;
    margin-bottom: 2rem;
}


.project-heading{
    font-size: 2rem;
    font-weight: bolder;
}

.project-content{
    font-size: 1rem;
}
.mark{
    font-weight: bolder;
    color: #28FFBF ;
}

a{
    text-decoration: none;
    
}

button{
    margin: 0 auto;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    outline: none;
    border: none;
    background-color: #28FFBF;

}

.date{
 display: flex;
 font-weight: bolder;
 justify-content: center;
}

.main-heading h3{
    padding: 0.5rem;
    margin: 0;
}

.blog{
    height: 70vh;
}

.error-list{
    list-style: none;
}

.list-title{
    font-size: 2rem;
    font-weight: bolder;
}
.content-blog{
    margin: 0 auto;
    width: 60vw;
}